/* Estilos gerais */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background: linear-gradient(90deg, #0342b8, #0385b8, #8d12ff, #ff00aa, #ba55d3);
    background-size: 300% 300%;
    animation: gradientAnimation 20s ease infinite;
    padding: 0.4em;
    text-align: center;
    border-bottom: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: sticky;
    top: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h2 {
    margin: 0;
    color: #ffffff;
    font-size: 24px; /* Aumenta o tamanho da fonte do titulo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

main {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

section {
    margin-bottom: 2em;
}

input, button {
    padding: 0.75em;
    margin-top: 0.5em;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 1em;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

#stations {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

#stations li {
    padding: 1em;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
}

#stations li:hover {
    background-color: #333;
    transform: scale(1.05);
}

.station-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 20px; /* Aumenta o tamanho da fonte do nome da radio */
}

.station-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1f1f1f;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

#player-container:hover {
    transform: scale(1.02);
}

#player {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
    outline: none;
}

#player-controls {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.player-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.player-button:hover {
    color: #ff5722;
    transform: scale(1.2);
}

footer {
    background-color: #1f1f1f;
    padding: 1em;
    text-align: center;
    border-top: 1px solid #333;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    margin-top: auto;
}

footer p {
    margin: 0;
    color: #bbb;
    font-size: 0.875em;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #1f1f1f;
    margin: auto;
    padding: 2em;
    border: 1px solid #333;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s;
}

.close-button {
    color: #bbb;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover {
    color: #fff;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Controle de Volume */
#control-menu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: scale(0.8);
}

.control-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.control-button:hover {
    color: #ff5722;
    transform: scale(1.1);
}

/* Popup de Volume */
#volume-popup {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f1f1f;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: none;
    font-size: 1em;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
}

/* Seção de Links Diversos */
.links-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
}

.links-list a {
    text-decoration: none;
}

.link-info {
    display: flex;
    align-items: center;
    background: rgba(25, 25, 25, 0.8); /* Alterado para se alinhar com o fundo geral */
    border: 1px solid #333; /* Usando cor de borda consistente */
    padding: 10px;
    border-radius: 15px;
    transition: background 0.3s, transform 0.3s;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), /* Mantido consistente com o restante */
                0 2px 4px rgba(255, 255, 255, 0.1); /* Ajuste de sombra */
}

.link-info img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.link-info p {
    margin: 0;
    color: #ffffff; /* Alterado para garantir a mesma cor de texto que o resto do site */
}

.link-info:hover {
    background: rgba(255, 255, 255, 0.2); /* Levemente ajustado para efeito hover */
    transform: scale(1.05);
}
